# Carga de Datos

## Librerías que se utilizarán

In [6]:
import os
import pandas as pd
import re

### Con el siguiente bloque de código concatemos los path de los archivos csv para después crear un dataframe

In [42]:
#contaminantes_catalogos
path_catalogos = r'/Users/sebastian/PycharmProjects/RegresionLinealSimple/data/contaminantes_catalogos/'
files_catalogos = os.listdir(path_catalogos)
file_list_catalogos = [files_catalogos for files_catalogos in files_catalogos if files_catalogos[:3] == 'cat']
file_list_catalogos

['cat_unidades.csv', 'cat_estacion.csv', 'cat_parametros.csv']

In [121]:
path_csv_cat = []
#path_csv_cat = [os.path.join(path_catalogos, n) for n in file_list_catalogos]
i =0
for file in file_list_catalogos:
    print(file)
    path_csv_cat.append(path_catalogos+file)
    i+=1
path_csv_cat
df = pd.read_csv(path_csv_cat[1], sep=',',  encoding='latin-1', header=1)
df.head()
#df.info

cat_unidades.csv
cat_estacion.csv
cat_parametros.csv

,cve_estac,nom_estac,longitud,latitud,alt,obs_estac,id_station
0,ACO,Acolman,-98.912003,19.635501,2198.0,NaN,484150020109
1,AJU,Ajusco,-99.162611,19.154286,2942.0,NaN,484090120400
2,AJM,Ajusco Medio,-99.207744,19.272161,2548.0,NaN,484090120609
3,ARA,Aragón,-99.074549,19.470218,2200.0,Finalizó operación en 2010,484090050301
4,ATI,Atizapan,-99.254133,19.576963,2341.0,NaN,484150130101

In [62]:
#Contaminantes_CDMX
path_cdmx = '/Users/sebastian/PycharmProjects/RegresionLinealSimple/data/contaminantes_CDMX/'
files_cdmx = os.listdir(path_cdmx)
file_list_cdmx = [files_cdmx for files_cdmx in files_cdmx if files_cdmx[:3] == 'con']
file_list_cdmx

['contaminantes_2022.csv',
 'contaminantes_2021.CSV',
 'contaminantes_2020.CSV',
 'contaminantes_2018.CSV',
 'contaminantes_2019.CSV']

In [79]:
path_csv_cdmx = []
#path_csv_cat = [os.path.join(path_catalogos, n) for n in file_list_catalogos]
i =0
for file in file_list_cdmx:
    print(file)
    path_csv_cdmx.append(path_cdmx+file)
    i+=1

path_csv_cdmx
df = pd.read_csv(path_csv_cdmx[2], sep = ',', encoding='latin-1',  on_bad_lines='skip', header= None)
df.head(15)

contaminantes_2022.csv
contaminantes_2021.CSV
contaminantes_2020.CSV
contaminantes_2018.CSV
contaminantes_2019.CSV

                                     0
0                           Pollutants
1        city: Ciudad de M&eacute;xico
2                        cityCode: MEX
3               country: M&eacute;xico
4              mesurementAgency: SIMAT
5     URL: http://www.aire.cdmx.gob.mx
6  timeStamp: 2020/01/01 al 2020/12/31
7               average_interval: 001h
8    version:DT023-IAD-20210803-145717
9     key: M-6L5KR-KG0OT-MBWXE-UXY0F\t

#### Podemos notar que este conjunto de csvs tienen los primeros 10 renglones con informacion que no sirve, por lo que tenmos que crear nuestro dataframe a pertir del renglon 11

In [117]:
#aux_file=open(path_csv_cdmx[2],'rb')
count=0
df = pd.read_csv(path_csv_cdmx[1], sep = ',', encoding='latin-1',  on_bad_lines='skip',skiprows=10,header=0 )
df.head()

               date id_station id_parameter  value  unit
0  01/01/2021 01:00        ACO           CO    NaN    15
1  01/01/2021 01:00        ACO           NO    NaN     1
2  01/01/2021 01:00        ACO          NO2    NaN     1
3  01/01/2021 01:00        ACO          NOX    NaN     1
4  01/01/2021 01:00        ACO           O3    NaN     1