# Carga de Datos

## Librerías que se utilizarán

In [62]:
import os
import pandas as pd
import re
import datetime

## Carga y Limpieza de Datos
### Comenzamos explorando y uniendo los datos relacionados a contaminantes
### después se hace lo mismo con la carpeta de catálogos

In [30]:
#path de las carpetas
path_catalogos = r'/Users/sebastian/PycharmProjects/RegresionLinealSimple/data/contaminantes_catalogos/'
path_cdmx = '/Users/sebastian/PycharmProjects/RegresionLinealSimple/data/contaminantes_CDMX/'

files_catalogos = os.listdir(path_catalogos)
#files_cdmx
files_cdmx = os.listdir(path_cdmx)

files_catalogos

['cat_unidades.csv', 'cat_estacion.csv', 'cat_parametros.csv']

####  contaminantes_cdmx

In [90]:
path_csv_cdmx = []
for file in files_cdmx:path_csv_cdmx.append(path_cdmx+file)
for i, archivo in enumerate(path_csv_cdmx):
    print(i)
    if i == 0:
        df = pd.read_csv(archivo, sep = ',', encoding='latin-1',  on_bad_lines='skip',skiprows=10,header=0)
    else:
        df = pd.concat([df , pd.read_csv(archivo, sep = ',', encoding='latin-1',  on_bad_lines='skip',skiprows=10,header=0)])


df.info()
df.head()

0
1
2
3
4
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9931032 entries, 0 to 2266535
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   date          object
 1   id_station    object
 2   id_parameter  object
 3   value         float64
 4   unit          int64
dtypes: float64(1), int64(1), object(3)
memory usage: 454.6+ MB

               date id_station id_parameter  value  unit
0  01/01/2022 01:00        ACO           CO    1.1    15
1  01/01/2022 01:00        ACO           NO   10.0     1
2  01/01/2022 01:00        ACO          NO2   39.0     1
3  01/01/2022 01:00        ACO          NOX   50.0     1
4  01/01/2022 01:00        ACO           O3    3.0     1

In [97]:
#Nos deshacemos de los valores nulos de la columna datetime
df = df.loc[ (~df.date.isnull())].copy().reset_index(drop=True)
df['date'] = pd.to_datetime(  df['date'], format="%d/%m/%Y %H:%M", errors='coerce' )

#df['date'].map(type).value_counts(True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9931032 entries, 0 to 9931031
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   id_station    object
 2   id_parameter  object
 3   value         float64
 4   unit          int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 378.8+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9517239 entries, 0 to 9517238
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   id_station    object
 2   id_parameter  object
 3   value         float64
 4   unit          int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 363.1+ MB

#### contaminantes_catalogos

In [105]:
path_csv_cat = []
for file in files_catalogos:path_csv_cat.append(path_catalogos+file)
catalogo_unidades = pd.read_csv(path_csv_cat[0], sep=',',  encoding='latin-1', header=0)
catalogo_estaciones = pd.read_csv(path_csv_cat[1], sep=',',  encoding='latin-1', header=1)
catalogos_parametros = pd.read_csv(path_csv_cat[2], sep=',',  encoding='latin-1', header=1)
catalogos_parametros
#catalogo_unidades

,id_parameter,cve_param,nom_param,unidades_param
0,1,O3,Ozono,1
1,2,NO2,Dióxido de nitrógeno,1
2,3,NO,Óxido nítrico,1
3,4,NOx,Óxidos de nitrógeno,1
4,5,CO,Monóxido de carbono,15
5,6,SO2,Dióxido de azufre,1
6,7,PM10,Partículas menores a 10 micrómetros,2
7,8,PM2.5,Partículas menores a 2.5 micrómetros,2
8,9,PMco,Partículas coarse,2
9,10,BEN,Benceno,1
10,11,TOL,Tolueno,1
11,14,WSP,Velocidad del viento,3
12,15,WDR,Direccion del viento,4
13,16,TMP,Temperatura ambiente,5
14,17,RH,Humedad relativa,6
15,18,UVA,Radiación UV-A,7
16,19,UVB,Radiación UV-B,16
17,20,GR,Radiación global,7
18,21,PAR,Radiación FA,8
19,22,PA,Presión Atmosférica,9
20,23,pH,Potencial de hidrógeno,10
21,24,PP,Precipitacion pluvial,11
22,25,CE,Conductividad eléctrica,12
23,26,SO4,Sulfato,"13,14"
24,27,NO3,Nitrato,"13,14"
25,28,Cl,Cloruro,"13,14"
26,29,CO3,Carbonato,"13,14"
27,30,H,Hidrógeno,"13,14"
28,31,NH4,Amonio,"13,14"
29,32,Ca,Calcio,"13,14"
30,33,Mg,Magnesio,"13,14"
31,34,Na,Sodio,"13,14"
32,35,K,Potasio,"13,14"
33,36,PST,Partículas suspendidas totales,2
34,37,PbPST,Plomo contenido en PST,2
35,38,PbPM,Plomo contenido en PM10,2
36,39,ETB,Etilbenceno,1
37,40,XIL,Xilenos,1

In [109]:
#catalogos_parametros['unidades_param'] = catalogos_parametros.unidades_param.apply(lambda  x: x.split(',')[0]).astype(int)

In [110]:
df['id_station'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9517239 entries, 0 to 9517238
Series name: id_station
Non-Null Count    Dtype
--------------    -----
9517239 non-null  object
dtypes: object(1)
memory usage: 72.6+ MB

In [107]:
catalogos_parametros.merge(catalogo_unidades, left_on=['unidades_param'], right_on=['id_unidad'], how='left').reset_index(drop=True).drop('unidades_param',axis=1)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9517239 entries, 0 to 9517238
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   id_station    object
 2   id_parameter  object
 3   value         float64
 4   unit          int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 363.1+ MB

                 date id_station id_parameter  value  unit
0 2022-01-01 01:00:00        ACO           CO    1.1    15
1 2022-01-01 01:00:00        ACO           NO   10.0     1
2 2022-01-01 01:00:00        ACO          NO2   39.0     1
3 2022-01-01 01:00:00        ACO          NOX   50.0     1
4 2022-01-01 01:00:00        ACO           O3    3.0     1