# Carga de Datos

## Librerías que se utilizarán

In [3]:
import os
import pandas as pd
import re

### Con el siguiente bloque de código concatemos los path de los archivos csv para después crear un dataframe

In [4]:
#contaminantes_catalogos
path_catalogos = r'/Users/sebastian/PycharmProjects/RegresionLinealSimple/data/contaminantes_catalogos/'
files_catalogos = os.listdir(path_catalogos)
file_list_catalogos = [files_catalogos for files_catalogos in files_catalogos if files_catalogos[:3] == 'cat']
file_list_catalogos

['cat_unidades.csv', 'cat_estacion.csv', 'cat_parametros.csv']

In [27]:
path_csv_cat = []
#path_csv_cat = [os.path.join(path_catalogos, n) for n in file_list_catalogos]
i =0
for file in file_list_catalogos:
    print(file)
    path_csv_cat.append(path_catalogos+file)
    i+=1
df = pd.read_csv(path_csv_cat[0], sep=',',  encoding='latin-1', header=0)
df.head()

cat_unidades.csv
cat_estacion.csv
cat_parametros.csv

   id_unidad clave_unidad                 nombre_unidad
0          1          ppb             partes por billón
1          2        µg/m³  microgramos por metro cúbico
2          3          m/s            metros por segundo
3          4            °                        grados
4          5           °C                grados Celsius

In [38]:
df = pd.read_csv(path_csv_cat[1], sep=',',  encoding='latin-1', header=1)
df.head()
#for c in df.columns:
 #   print( c , df[c].map(type).unique().tolist()  , "\n"*1 )

,cve_estac,nom_estac,longitud,latitud,alt,obs_estac,id_station
0,ACO,Acolman,-98.912003,19.635501,2198.0,NaN,484150020109
1,AJU,Ajusco,-99.162611,19.154286,2942.0,NaN,484090120400
2,AJM,Ajusco Medio,-99.207744,19.272161,2548.0,NaN,484090120609
3,ARA,Aragón,-99.074549,19.470218,2200.0,Finalizó operación en 2010,484090050301
4,ATI,Atizapan,-99.254133,19.576963,2341.0,NaN,484150130101

In [30]:
df = pd.read_csv(path_csv_cat[2], sep=',',  encoding='latin-1', header=1)
#df.head()
for c in df.columns:
    print( c , df[c].map(type).unique().tolist()  , "\n"*1 )

id_parameter [<class 'int'>]

cve_param [<class 'str'>]

nom_param [<class 'str'>]

unidades_param [<class 'str'>]

### Limpieza de csvs de carpeta contaminantes_cdmx

In [6]:
#Contaminantes_CDMX
path_cdmx = '/Users/sebastian/PycharmProjects/RegresionLinealSimple/data/contaminantes_CDMX/'
files_cdmx = os.listdir(path_cdmx)
file_list_cdmx = [files_cdmx for files_cdmx in files_cdmx if files_cdmx[:3] == 'con']
file_list_cdmx

['contaminantes_2022.csv',
 'contaminantes_2021.CSV',
 'contaminantes_2020.CSV',
 'contaminantes_2018.CSV',
 'contaminantes_2019.CSV']

In [7]:
path_csv_cdmx = []
#path_csv_cat = [os.path.join(path_catalogos, n) for n in file_list_catalogos]
i =0
for file in file_list_cdmx:
    print(file)
    path_csv_cdmx.append(path_cdmx+file)
    i+=1

path_csv_cdmx
df = pd.read_csv(path_csv_cdmx[2], sep = ',', encoding='latin-1',  on_bad_lines='skip', header= None)
df.head(15)

contaminantes_2022.csv
contaminantes_2021.CSV
contaminantes_2020.CSV
contaminantes_2018.CSV
contaminantes_2019.CSV

                                     0
0                           Pollutants
1        city: Ciudad de M&eacute;xico
2                        cityCode: MEX
3               country: M&eacute;xico
4              mesurementAgency: SIMAT
5     URL: http://www.aire.cdmx.gob.mx
6  timeStamp: 2020/01/01 al 2020/12/31
7               average_interval: 001h
8    version:DT023-IAD-20210803-145717
9     key: M-6L5KR-KG0OT-MBWXE-UXY0F\t

#### Podemos notar que este conjunto de csvs tienen los primeros 10 renglones con información que no sirve, por lo que tenmos que crear nuestro dataframe a partir del renglón 11

In [106]:

#con este for unimos los csv de la carpeta contaminantes_cdmx y se crea el data frame
for i, archivo in enumerate(path_csv_cdmx):
    print(i)
    if i == 0:
        df = pd.read_csv(archivo, sep = ',', encoding='latin-1',  on_bad_lines='skip',skiprows=10,header=0)
    else:
        df = pd.concat([df , pd.read_csv(archivo, sep = ',', encoding='latin-1',  on_bad_lines='skip',skiprows=10,header=0)])

0
1
2
3
4

In [82]:
#Podemos notar que solo hay que cambiar el tipo de dato de la columna date a tipo de dato de fecha
#for c in df.columns:
 #   print( c , df[c].map(type).unique().tolist() )
#df['date'].map(type).value_counts(True)
#df.shape
df= df.loc[~df.date.isnull()].copy().reset_index(drop=True)

In [108]:


df['dat_e'] = pd.to_datetime(df['date'].map(lambda variable: variable[-10:-6]+'-'+variable[3:5]+'-'+variable[:2]+' '+variable[-5:] ),errors='coerce')
df.head()

               date id_station id_parameter  value  unit               dat_e
0  01/01/2022 01:00        ACO           CO    1.1    15 2022-01-01 01:00:00
1  01/01/2022 01:00        ACO           NO   10.0     1 2022-01-01 01:00:00
2  01/01/2022 01:00        ACO          NO2   39.0     1 2022-01-01 01:00:00
3  01/01/2022 01:00        ACO          NOX   50.0     1 2022-01-01 01:00:00
4  01/01/2022 01:00        ACO           O3    3.0     1 2022-01-01 01:00:00

In [105]:

for c in df.columns:
      print( c , df[c].map(type).unique().tolist() )

date [<class 'str'>]
id_station [<class 'str'>]
id_parameter [<class 'str'>]
value [<class 'float'>]
unit [<class 'int'>]
dat_e [<class 'pandas._libs.tslibs.timestamps.Timestamp'>, <class 'pandas._libs.tslibs.nattype.NaTType'>]

In [98]:
a ='01/01/2022 01:00'
print(a[-5:])

01:00